# Regularization and feature scaling

## 1. Import the libraries

In [1]:
import numpy as np 
import pandas as pd 
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler

In [5]:
df=pd.read_csv("5-data.csv",header=None)
df.head()

         0        1         2        3        4        5         6
0  1.25664  2.04978  -6.23640  4.71926 -4.26931  0.20590  12.31798
1 -3.89012 -0.37511   6.14979  4.94585 -3.57844  0.00640  23.67628
2  5.09784  0.98120  -0.29939  5.85805  0.28297 -0.20626  -1.53459
3  0.39034 -3.06861  -5.63488  6.43941  0.39256 -0.07084 -24.68670
4  5.84727 -0.15922  11.41246  7.52165  1.69886  0.29022  17.54122

In [7]:
df.describe()

,0,1,2,3,4,5,6
count,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000
mean,-0.076288,-0.181381,0.339573,1.772602,-0.168269,0.009754,0.744579
std,5.560089,1.737693,4.982072,8.163906,3.184054,0.183237,17.132932
min,-12.398240,-5.280250,-11.235910,-23.820240,-6.865330,-0.634440,-45.017100
25%,-3.880408,-1.222918,-2.833322,-3.383100,-2.731047,-0.099910,-9.455507
50%,-0.009940,-0.278235,-0.072670,0.711860,-0.120520,0.002385,0.415680
75%,4.065705,1.083133,3.855920,6.704855,2.173942,0.119822,12.878975
max,13.374540,4.301200,11.946500,22.880080,7.351290,0.523280,36.216980

## 2. split into X,y

In [6]:
X = df.iloc[:,:5]
y = df.iloc[:,6]

In [11]:
X.shape

(100, 5)

In [12]:
y.shape

(100,)

## 3. feature scaling

In [21]:
scaler=StandardScaler()
X_scaled = pd.DataFrame(scaler.fit_transform(X))

In [22]:
X_scaled.describe()

                  0             1             2             3             4
count  1.000000e+02  1.000000e+02  1.000000e+02  1.000000e+02  1.000000e+02
mean  -1.332268e-17  1.332268e-17  6.772360e-17  8.881784e-18 -3.441691e-17
std    1.005038e+00  1.005038e+00  1.005038e+00  1.005038e+00  1.005038e+00
min   -2.227307e+00 -2.949057e+00 -2.335133e+00 -3.150670e+00 -2.113909e+00
25%   -6.876300e-01 -6.023985e-01 -6.400711e-01 -6.347055e-01 -8.089341e-01
50%    1.199298e-02 -5.601797e-02 -8.316223e-02 -1.305853e-01  1.507175e-02
75%    7.487037e-01  7.313626e-01  7.093557e-01  6.071972e-01  7.393126e-01
max    2.431362e+00  2.592612e+00  2.341476e+00  2.598488e+00  2.373528e+00

## 4. Build a model with lasso regularization

In [23]:
model=Lasso()   #Linear Model trained with L1 prior as regularizer
model.fit(X_scaled,y)

Lasso()

In [24]:
y_pred=model.predict(X)

In [17]:
y_pred

array([   2.07813339,   97.65316842,   -1.62617508,  -66.82149757,
         84.08233367,   17.11271843,   60.61634068,    8.6324845 ,
        -60.68460753,  -16.16464642,  -37.27556239,  -91.64634037,
        -44.73737806,   33.24591074,   29.33448607,  -99.3310609 ,
         87.956226  ,  -14.51104939,   95.68744834,  -45.62707675,
        -66.52621943,  -17.51308363,  -23.31778548,   77.99462377,
         15.25571436,   45.29277045,   75.50864746,   79.74277859,
        -82.13935148, -122.84595741,  -49.09105342,   10.88953642,
         75.52485889,  -17.88488861,  -17.46608489,  -13.5000226 ,
        -36.27798988,  -85.60095334,   35.60752613,   25.81487471,
        -10.65084431,  -12.04177085,  -61.81863792, -146.27423984,
         51.6060543 ,   16.41494436,   16.92305841,   56.70047992,
        -27.97204398,   18.8113818 ,   33.27630104,   33.34760062,
        -49.67526894,    8.70010426,   -6.79606106,   97.08495549,
         63.35687485,  130.20480783,   -3.09559196, -100.69840552,
         58.4501919 ,   45.41724957,   70.88836245,  -45.52170717,
        -60.58057007,  -62.52524587,   94.79611855,   26.92073857,
         55.64612889,   87.66489671,   49.48188564,   41.51674571,
        -12.61614279,  -15.15071731,  -17.57503276,   35.66286007,
        -76.5078835 ,   28.90309443,   76.17772867,   24.16475806,
         31.7915519 ,  -37.86444319,   -1.61458747,   65.11622211,
        -43.49650037,  -15.26590672,   63.7427474 ,   -9.12020667,
         33.41419997,   14.1134643 ,   48.61781705,  -40.2617743 ,
       -111.46597949,   26.48501533,   18.15577875,  109.6718069 ,
        -19.5698147 ,  -42.90500553,  -87.31853617,   52.03176345])

## 5.Get the coefficients

In [18]:
reg_coef = model.coef_
print(reg_coef)

[  0.           3.77175554   9.11363512  -0.         -11.8142181 ]